main {
    width: 1000px;
    height: 1000px;
    background-color: rgb(65, 61, 61);
}
.first {
    padding-left: 125px;
    padding-top: 125px;
}
.img {
    width: 250px;
    height: 250px;
    border: 3px solid rgb(35, 23, 209);
}
